---
import type { Language } from "src/bin/types";
import { getLanguage } from "src/bin/language";

import routes from "../data/routes.json";

const url = new URL(Astro.request.url);
const pathname = url.pathname;
const currentPath = pathname.slice(1); // remove the first "/"

export interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<nav class="flex flex-row">
  {
    routes.map(({ path, label }) => {
      const wholePath: string = `${language}${path[language]}`;

      return (
        <a
          href={`/${wholePath}`}
          class:list={[
            "flex items-center px-4 hover:bg-blue-200 hover:bg-opacity-25 transition-colors duration-250",
            {
              "text-gray-900 bg-blue-200 hover:bg-opacity-100":
                currentPath === wholePath,
            },
          ]}
          onclick={`window.localStorage.setItem('last-visited-page', '${path[language]}')`}
        >
          {label[language]}
        </a>
      );
    })
  }
</nav>
